Options -Indexes

RewriteEngine On

# Lindungi file sensitif
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<FilesMatch "\.(env|sql|log|bak|zip|tar|gz)$">
    Require all denied
</FilesMatch>

# Blok akses langsung ke folder internal
RewriteRule ^(app|config|database|routes|storage)(/|$) - [F,L]

# Kalau user buka root project, arahkan ke public
RewriteRule ^$ public/ [L]